/* Variables */
:root {
    --font-family: 'Source Sans Pro', serif;
    --color-primary: #C271FF;
    --color-white: #ffffff;
    --color-dark: #071629;
    --color-gray: #979797;
}

body{
    font-family: var(--font-family) !important;
}

/* COLORS */
.purple-bg {
    background-color: var(--color-primary) !important;
}

.dark-bg {
    background-color: var(--color-dark);
}

.purple {
    color: var(--color-primary);
}

.border-gray {
    border-color: var(--color-gray) !important;
}

.leftArrow:before {
    content: "\e903";
    font-size: 8rem;
}

.rightArrow:before {
    content: "\e902";
    font-size: 8rem;
}

/* BACKGROUND */
.homepage {
    background-image: url('images/pic_1.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.courses {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.pricing {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

/* BUTTONS */
.btn,
.btn:hover,
.btn:focus {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

.btn:hover,
.btn:focus {
    opacity: 0.9;;
}

.btn-shadow {
    box-shadow: 0 0 10px 5px rgba(56, 56, 56, 0.813);
}

/* NAV */
li a {
    color: var(--color-dark);
}

li a:hover,
li a:focus {
    color: var(--color-primary) !important;
    text-decoration: none;
}

.current:after {
    content: "";
    display: block;
    width: 75px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-white);
}

.navbar-icon:before {
    font-family: 'holberton_school-icon';
    content: "\e911";
    color: var(--color-white);
}

.navbar-toggler {
    font-size: 2.25rem;
    top: 3rem;
}

/* CAROUSELS */
.carousel-avatar {
    margin-top: 2rem;
}

.phone {
    display: block;
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}